body {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px auto;
    line-height: 60px;
    font-size: 150%;
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
}