h1 {
    text-align: center;
}

#card {
    display: grid;
    gap: 0 0;
    grid-template-columns: repeat(5, 1fr);
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.areas {
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}